#body {
  background-color: #046582;
}
header {
  background-color: #f39189;
  padding: 50px;
  margin: 50px;
  position: sticky;
  top: 0px;
}
h1 {
  text-align: center;
}
.listItem {
  margin: 20px 0px;
  background-color: white;
}
.container {
  background-color: #c4c4c4;
}
.taskList {
  list-style-type: none;
  background-color: transparent;
  overflow: hidden;
  margin-top: 150px;
}

.inputContainer {
  margin: 50px;
  padding: 20px;
  max-width: 50%;
  width: 100%;
  background-color: #f39189;
}
#footer {
  text-align: center;
  position: sticky;
  bottom: 0px;
  background-color: #f39189;
  padding: 20px;
}

.deleteButton {
  background-image: url("content/delete.png");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin: 15px;
}
#addTask {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.3rem;
}
.taskName {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
}

.listContainer {
  height: 1080px;
}
.inputContainer {
  position: fixed;
}
.checkedbox {
  text-decoration: line-through;
  color: #f39189;
}

/* START Styling Progress ring */

.chart {
  position:relative;
  /* margin:0px; */
  width:220px; height:220px;
}
canvas {
  display: block;
  position:absolute;
  top:0;
  left:0;
}
span {
  color:#046582;
  display:block;
  line-height:220px;
  text-align:center;
  width:220px;
  font-family:sans-serif;
  font-size:30px;
  font-weight:100;
  margin-left:5px;
}

/* Links progress ring */
/* https://stackoverflow.com/questions/14222138/css-progress-circle
http://jsfiddle.net/Aapn8/3410/ */

/* END Styling Progress ring */


